@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// Colors
$primary-color: #130c28;
$secondary-color: #ffa665;
$light-color: #fff;
$semi-med-color: #f4f4f4;
$dark-color: #2f2f2f;
$purple-color: #3e2782;
$med-color: #9d9db1;
$dark-purple-color: #5b4d5d;
$success-color: #00ff43;

// Fonts
$primary-font: "Open Sans", sans-serif;

$regular-font: 400;
$semi-bold-font: 600;
$bold-font: 700;

$max-width: 90%;
