@import "variables";
@import "utils";

.back-btn {
  display: flex;
  align-items: center;

  .btn {
    padding: 0;
    margin-top: 0;
    padding-right: 0.6rem;
  }
}

.top-header {
  margin-bottom: 4rem;
}

.section {
  // margin-bottom: 8rem;
  .section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    h2 {
      font-size: 1.8rem;
    }
    .sub-head {
      font-weight: $regular-font;
    }
  }
}

.top-ten-songs {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1.5rem;
  .song-card {
    .song-img {
      position: relative;
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
    }

    .stat-contain {
      display: none;
      position: absolute;
      background-color: lighten($purple-color, 10%);

      .song-stat {
        display: flex;
        align-items: center;

        .stat-icon {
          font-size: 1rem;
          margin-right: 0.4rem;
        }

        .count {
          font-size: 0.8rem;
        }
      }
    }

    .song-content {
      .bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
      }
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-contain {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
  }

  .right-nav-content {
    display: flex;
    align-items: center;

    .nav-links {
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      padding-right: 2rem;
      margin-right: 1rem;
      border-right-color: $light-color;

      .link {
        padding-left: 1rem;
      }
    }

    .btn {
      margin-top: 0;
    }
  }
}

.nav-mobo {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .logo-contain {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
  }

  .nav-btn-contain {
    position: relative;
    user-select: none;
    .toggler {
      position: relative;
      top: 0;
      height: 2rem;
      width: 2rem;
      left: 0;
      opacity: 0;
      z-index: 4;
      cursor: pointer;
      user-select: none;

      &:checked + .hamburger > .menu-line {
        transform: rotate(45deg);
        // opacity: 0;
      }

      &:checked + .hamburger > .menu-line::before {
        top: 0;
        transform: rotate(-90deg);
      }

      &:checked + .hamburger > .menu-line::after {
        opacity: 0;
      }

      &:checked ~ .nav-menu {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .hamburger {
      position: absolute;
      top: 0;
      left: 0;
      height: 2rem;
      width: 2rem;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

      .menu-line {
        position: relative;
        height: 2px;
        width: 100%;
        background: $semi-med-color;
        border-radius: 30px;
        transition: transform 0.3s ease;
        user-select: none;

        &::after,
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          background: $semi-med-color;
          top: -10px;
          border-radius: 30px;
        }

        &:after {
          top: 10px;
        }
      }
    }

    .nav-menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: $purple-color;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;

      .menu-links {
        .link {
          margin-bottom: 1rem;
          a {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

.home-page {
  .landing-section {
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .typo-contain {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 40%;
      .typo {
        font-size: 4rem;
        padding-bottom: 2rem;
      }

      .btn {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        // justify-content: center;
      }
    }

    .landing-showcase {
      width: 50%;
    }
  }
}

.top-ten-section {
  .section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sub-head {
      font-weight: $regular-font;
    }
  }

  .top-ten-songs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    // margin-bottom: 10rem;
    .song-card {
      .song-img {
        position: relative;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
      }

      .stat-contain {
        display: none;
        position: absolute;
        background-color: lighten($purple-color, 10%);

        .song-stat {
          display: flex;
          align-items: center;

          .stat-icon {
            font-size: 1rem;
            margin-right: 0.4rem;
          }

          .count {
            font-size: 0.8rem;
          }
        }
      }

      .song-content {
        .bottom-content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 1rem;
        }
      }
    }
  }
}

.trending-section {
  .trending-contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

.artist-section {
  .top-artists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
  }
}

// .influencer-page {
//   min-height: 90vh;

//   .top-header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   .current-stats {
//     margin-bottom: 10rem;
//     .stat-contain {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       grid-gap: 8rem;

//       .stat {
//         display: flex;
//         align-items: center;
//         .stat-head {
//           font-weight: 400;
//         }
//         .stat-num {
//           font-weight: 400;
//           font-size: 3rem;
//         }
//         i {
//           font-size: 8rem;
//         }
//       }
//     }
//   }
// }
.nav-mobo {
  display: none;
}

// General
.general-page {
  .top-header {
    .landing-section {
      background: url("../img/general-landing.jpg") no-repeat center
        center/cover;
      height: 50vh;
      .typo-contain {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 30%;
        padding-top: 2rem;
      }
    }
  }

  .recommended-songs {
    .songs-contain {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      grid-gap: 2rem;
      .song-card {
        .img-contain {
          height: 15rem;
          border-radius: 8px;
          cursor: pointer;
        }

        .song-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 0.6rem;
        }
      }
    }
  }

  .artists-section {
    .artists-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .album-item {
    .item-desc {
      display: flex;
      align-items: center;
      .play-btn {
        margin: 0;
        padding: 0;
        position: relative;

        i {
          font-size: 2.3rem;
        }

        .listen-toggler {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
          opacity: 0;

          &:checked ~ .listen-platform-contain {
            opacity: 1;
            pointer-events: all;
          }
        }

        .listen-platform-contain {
          position: absolute;
          background: lighten($primary-color, 8%);
          padding: 0.6rem 1rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 8px;
          top: -1rem;
          z-index: 1;
          left: 0;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.3s ease;

          .listen-head {
            padding-bottom: 1rem;
          }

          .listen-options {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .option {
              &-link {
                display: flex;
                align-items: center;
                margin-bottom: 0.6rem;
                .platform-img {
                  height: 1.5rem;
                  width: 1.5rem;
                  margin-right: 0.6rem;
                }
              }
            }

            .btn {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }

    .item-stats {
      background: lighten($dark-purple-color, 5%);

      .stat-contain {
        color: $semi-med-color;

        .listen-stat {
          font-weight: lighter;
        }
        .stat-count {
          font-weight: 400;
        }
      }
      .listen-contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .lead-2 {
          color: $semi-med-color;
          padding-bottom: 0.6rem;
        }

        .listen-option {
          display: flex;
          justify-content: space-between;
          align-items: center;
          grid-gap: 0.6rem;
          .listen-img {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
      }
    }
  }
}

// Influencer
.influencer-page {
  .top-header {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    .landing-section {
      padding: 1rem 0;
      background: url("../img/general_landing.jpg") no-repeat center
        center/cover;
      height: 50vh;
      // height: 100%;
      .typo-contain {
        padding-top: 2rem;
        width: 30%;
      }
    }
  }

  .promoted-album-contain {
    .promote-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .promote-btn {
        margin: 0;
      }
    }
  }

  .total-albums-contain {
    .platform-albums {
      .platform-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .platform-logo {
          height: 3rem;
          width: 8rem;
        }
      }

      .albums-contain {
        .album-item {
          margin-top: 1rem;
        }
      }

      &:nth-child(3) {
        .platform-header {
          .platform-logo {
            height: 4rem;
            width: 10rem;
          }
        }
      }
    }
  }

  // Modal
  .promote-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    z-index: 3;
    .modal-content {
      position: absolute;
      background: $dark-color;
      width: 60%;
      height: 70%;
      z-index: 4;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      transition: transform 0.3s ease, opacity 0.3s ease;

      .modal-form {
        position: relative;
        width: 60%;
      }

      .modal-showcase {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondary-color;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        i {
          font-size: 5rem;
        }
      }

      .form-contain {
        margin-top: 2rem;

        .points-contain {
          display: flex;
          align-items: center;

          .lead-2 {
            color: $secondary-color;
            // padding-bottom: 0.6rem;
          }
          .points {
            padding-left: 0.6rem;
            font-weight: bold;
          }
        }

        .form-grp {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

          label {
            padding-bottom: 0.6rem;
            color: $secondary-color;
          }

          .server-select-box {
            padding: 0.6rem;
            outline: none;
            border: none;
            border-radius: 5px;
            background: darken($dark-color, 5%);
            color: $semi-med-color;
            font-family: $primary-font;

            option {
              padding: 0.8rem;
            }
          }

          .listen-input {
            padding: 0.6rem 0.3rem;
            background: darken($dark-color, 5%);
            color: $semi-med-color;
            outline: none;
            border: none;
            border-radius: 5px;
          }
        }
      }

      .btn-grp {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        left: 1rem;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
          font-family: $primary-font;
        }

        .btn-transparent {
          padding: 0;
          margin: 0;
        }
      }

      &.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
      }

      &.inactive {
        opacity: 0;
        transform: translateY(50px);
        pointer-events: none;
      }
    }

    &.active {
      pointer-events: all;
      opacity: 1;
    }

    &.inactive {
      pointer-events: none;
      opacity: 0;
    }
  }
}

// Songs section
.songs-section {
  .songs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Influencer list
.influencer-list-page {
  .top-header {
    .landing-section {
      height: 0;

      .typo-contain {
        margin-top: 0.6rem;
      }
    }
  }
  .songs-section {
    margin-top: 5rem;
    .songs-header {
      display: flex;

      .search-contain {
        display: flex;
        align-items: center;

        i {
          font-size: 1.6rem;
        }

        .search-input {
          background: none;
          border: none;
          outline: none;
          font-family: $primary-font;
          padding-left: 1rem;
          font-size: 1.2rem;
          color: $semi-med-color;
          &::placeholder {
            color: darken($semi-med-color, 50%);
          }
        }
      }

      .layout-ctrl-contain {
        display: flex;
        align-items: center;

        .layout-btn {
          background-color: lighten($primary-color, 15%);
          color: $primary-color;
          transition: none;

          &:nth-child(1) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          &:nth-child(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }

          &.active {
            background: $secondary-color;
            color: $primary-color;
          }
        }
      }
    }

    .songs-contain {
      display: grid;
      align-items: center;
      width: 100%;
      grid-gap: 2rem;
      margin-top: 1.5rem;

      &.list-view {
        grid-template-columns: 1fr;
      }
      &.grid-view {
        grid-template-columns: repeat(5, 1fr);
      }

      .item-img {
        width: 100%;
      }

      .album-item {
        width: 100%;

        .listen-contain {
          .listen-img {
            height: 2rem;
            width: 2rem;
          }
        }

        &.list-view {
          width: 100%;
          background: lighten($primary-color, 10%);
          display: flex;
          align-items: center;
          border-radius: 8px;

          .item-img {
            height: 5rem;
            width: 5rem;
            margin-bottom: 0;

            &::after {
              transition: none;
            }

            &:hover::after {
              transform: translate(0, 0);
            }

            &:hover .album-img {
              transform: translate(0, 0);
            }

            &:hover .item-stats {
              transform: translate(0, 0);
            }
          }

          .item-stats {
            position: absolute;
            left: 1000%;
            width: 15rem;
            opacity: 1;
            align-self: flex-end;
            flex-direction: row;
            background: transparent;

            .stat-contain {
              margin-right: 2rem;
              .listen-count {
                width: 8rem;
                font-size: 1rem;
                color: $semi-med-color;
              }
              .listen-stat {
                width: 8rem;
                color: $semi-med-color;
              }
            }

            .listen-contain {
              display: flex;
              flex-direction: row;
              .lead-2 {
                width: 5rem;
                color: $semi-med-color;
              }
            }
          }

          .listen-contain {
            .listen-option {
              display: flex;
              flex-direction: row;
            }

            .listen-img {
              margin-right: 0.6rem;
            }
          }

          .item-desc {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

@import "media";
